#Validated {
	padding:5px; 
	border:#060 solid 1px; 
	background:#6f6; 
	position:fixed; 
	color:#060; 
	top:20px; 
	z-index:100;
	margin:0 300px;
}

#WrongLogin {
	padding:5px; 
	border:#600 solid 1px; 
	background:#f66; 
	position:fixed; 
	color:#600; 
	top:20px; 
	z-index:100;
	margin:0 300px;
}

#followButton {
	border:solid #999;
	border-width:0px 2px;
	border-radius:10px;
	padding:5px 20px;
	background:#eee;
	float:left;
	margin-left:20px;
	margin-top:-20px;
	margin-bottom:5px;
	transition:background 0.2s;
	transition:border 0.2s;
}

#followButton:hover {
	background:#fff;
	border-color:#666;
}

.Error404 {
	margin:200px 20px;
}

.Error404 a:link {
	color:#333;
	text-decoration:none;
	transition:color 0.2s;
}

.Error404 a:visited {
	color:#333;
}

.Error404 a:hover {
	color:#999;
}

.PostHeader:link {
	position:relative;
	height:16px;
	padding:1px 5px;
}

.PostHeader:visited {
	position:relative;
	height:16px;
	padding:1px 5px;
}

.PostHeader img {
	float:left;
}

.PostHeader .PostAuthor {
	float:left;
	font-weight:bold;
	margin:0px 4px;
	color:#000;
	
}

.PostHeader .PostAdress {
	float:left;
	font-size:12px;
	margin:6px auto 0px 2px;
	color:#ccc;
	font-family:"Lucida Console";
}


.PostHeader:hover .PostAuthor {
	float:left;
	font-weight:bold;
	margin:0px 4px;
	color:#000;
	text-decoration:underline;
	
}

.PostHeader:hover  .PostAdress {
	float:left;
	font-size:12px;
	margin:6px auto 0px 2px;
	color:#ccc;
	font-family:"Lucida Console";
	text-decoration:underline;
}

.PostHeader  .PostTime {
	float:right;
	font-size:10px;
	margin:6px 3px 0px 2px;
	color:#ccc;
	text-decoration:none;
}

.PostContent {
	clear:both;
	position:relative;
	padding:1px 5px;
	text-decoration:none;
	max-width:100%;
}

.PostContent a:link {
	color:#666;
	text-decoration:none;
}

.PostContent a:visited {
	color:#666;
	text-decoration:none;
}

.PostContent a:hover {
	color:#000;
	text-decoration:underline;
}

.searchresult:link {
	float:left;
	height:16px;
	padding:1px 5px;
	text-decoration:none;
	color:#000;
}

.searchresult:visited {
	color:#000;
}

.searchresult:hover {
	text-decoration:underline;
	color:#000;
}
.timelineelement .end {
	text-align:center;
	width:inherit;
	padding-top:18px;
	color:#000;
	text-decoration:none;
	transition:color 0.3s;
}

.timelineelement .end:hover {
	color:#333333;
	text-decoration:underline;
}